{
    "swagger": "2.0",
    "info": {
        "title": "Bing Commerce Ingestion",
        "version": "1"
    },
    "host": "commerce.bing.com",
    "basePath": "/api/ingestion/v1",
    "schemes": [
        "https"
    ],
    "paths": {
        "/{tenantid}/indexes": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Create an index.",
                "description": "Creates a definition of the tenant's index.",
                "operationId": "CreateIndex",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "An Index object that describes the index definition to add.",
                        "schema": {
                            "$ref": "#/definitions/Index"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Get list of index definitions.",
                "description": "Get list of index definitions that you defined for a tenant.",
                "operationId": "GetAllIndexes",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}": {
            "delete": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Delete an index.",
                "description": "Delete an index definition along with all the catalog.",
                "operationId": "DeleteIndex",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Updates an index with id.",
                "description": "Update the definition for your index.",
                "operationId": "UpdateIndex",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The ID that uniquely identifies the index definition to manage.",
                        "schema": {
                            "$ref": "#/definitions/Index"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Get index definition by id.",
                "description": "Get a specific index definition for a tenant.",
                "operationId": "GetIndex",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}/deletedata": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Delete documents from your catalog.",
                "description": "Delete documents from your index's catalog.",
                "operationId": "DeleteDocuments",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The set of document ids to delete.",
                        "schema": {
                            "$ref": "#/definitions/Requests.StringSet"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Succeeded",
                        "schema": {
                            "$ref": "#/definitions/DeleteDocumentsResponse"
                        }
                    },
                    "206": {
                        "description": "PartiallySucceeded",
                        "schema": {
                            "$ref": "#/definitions/DeleteDocumentsResponse"
                        }
                    },
                    "400": {
                        "description": "Failed",
                        "schema": {
                            "$ref": "#/definitions/DeleteDocumentsResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}/status": {
            "get": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Get index status by id.",
                "description": "Get the detailed status of your index in each supported region.",
                "operationId": "GetIndexStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/IndexStatusResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}/pushdata": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Push catalog data.",
                "description": "This method pushes updates to your your index data to Bing. This is an asynchronous process. To upload your index data to Bing, you'll send a push request that contains your index data.",
                "operationId": "PushDataUpdate",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "notransform",
                        "description": "This disables transformation config processing if the config was uploaded for some index. It's useful when the data is already transformed and is matching the index definition. Default is `false`",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "updateid",
                        "description": "An id to uniquely identify the push update request in order to be able to track it down later.",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/PushDataUpdateResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}/status/{updateid}": {
            "get": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": ".",
                "description": ".",
                "operationId": "PushDataStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/PushUpdateStatusResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "updateid",
                    "description": "An id to uniquely identify the push update request in order to be able to track it down later.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/{tenantid}/indexes/{indexid}/transformation": {
            "delete": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Delete your index's transformation config.",
                "description": "Delete the transformation config that currently aplies to data you push to your index.",
                "operationId": "DeleteTransformationConfig",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/TransformationConfigResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Retrieve your current index's transformation config.",
                "description": "Retrieve the transformation config that currently applies to data you push to your index.",
                "operationId": "CreateOrUpdateTransformationConfig",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/TransformationConfigResponse"
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Get ingestion status.",
                "description": "Track your ingestion by querying the status.",
                "operationId": "GetTransformationConfig",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/TransformationConfigResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tenantid",
                    "description": "The ID that uniquely identifies the tenant that the index belongs to.",
                    "required": true,
                    "type": "string"
                },
                {
                    "in": "path",
                    "name": "indexid",
                    "description": "The ID that uniquely identifies the index definition to manage.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/transformation/tryout": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Create a transformation config.",
                "description": "Upload a new transformation config and set it as the transformation config that applies to data you push to your index.",
                "operationId": "UploadTryOutConfig",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/TransformationConfigResponse"
                        }
                    }
                }
            }
        },
        "/transformation/tryout/{tryoutid}": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "Upload a trytout config.",
                "description": "Upload a transformation config that you can use to test data transformation on the cloud.",
                "operationId": "ExecuteTryOutConfig",
                "consumes": [
                    "text/plain"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/TransformationTryoutResponse"
                        }
                    }
                }
            },
            "parameters": [
                {
                    "in": "path",
                    "name": "tryoutid",
                    "description": "The transformation tryout config id.",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/schemadetection": {
            "post": {
                "tags": [
                    "RetailSearchIngestionService"
                ],
                "summary": "",
                "description": "",
                "operationId": "DetectSchema",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "SubscriptionId",
                        "description": "Bing developer subcription id",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "format",
                        "description": "The push data update document format.",
                        "type": "string",
                        "enum": [
                            "Unknown",
                            "LDJson",
                            "CSV",
                            "TSV",
                            "JsonArray"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/SchemaDetectionResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Response.PushStatus": {
            "enum": [
                "Queued",
                "Error"
            ],
            "type": "string",
            "x-ms-enum": {
                "name": "Response.PushStatus",
                "values": [
                    {
                        "value": "Queued"
                    },
                    {
                        "value": "Error"
                    }
                ]
            }
        },
        "Requests.StringSet": {
            "description": "Defines a set of strings",
            "type": "object",
            "properties": {
                "values": {
                    "description": "A set of strings",
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "Index": {
            "description": "Contains the definition for the index. An index consists of a set of documents that search operations can be performed upon.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The index's name. The name must be unique per tenant, contain only ASCII characters, and have a maximum length of 64 characters.",
                    "type": "string"
                },
                "description": {
                    "description": "A description of the index. The description is for the tenant's use. The description must contain only ASCII characters and have a maximum length of 64 characters.",
                    "type": "string"
                },
                "regions": {
                    "description": "The array of regions where the customer data will be processed and served.",
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Region"
                    }
                },
                "searchScenario": {
                    "description": "The type of search scenario that the user is using the index for, which includes Retail, Hotel, and Document.",
                    "default": "Retail",
                    "enum": [
                        "Unknown",
                        "Retail",
                        "Document",
                        "Hotel"
                    ],
                    "type": "string"
                },
                "searchServices": {
                    "description": "The array of additional search services that the user wants to include for the index, which includes Autosuggest and VisualSearch.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "enum": [
                            "Unknown",
                            "VisualSearch",
                            "Autosuggest",
                            "TextSearch"
                        ],
                        "type": "string"
                    }
                },
                "schemaVersion": {
                    "description": "The version for the schema of the index.",
                    "type": "string"
                },
                "fields": {
                    "description": "The fields that are associated with the index.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/IndexField"
                    }
                }
            }
        },
        "IndexField": {
            "description": "Contains the definition for the index field. A field represents a single unit of data.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Index field name.",
                    "type": "string"
                },
                "type": {
                    "$ref": "#/definitions/IndexFieldType"
                },
                "facetable": {
                    "description": "Enables using the field for facets and other field-based aggregations.",
                    "type": "boolean"
                },
                "filterable": {
                    "description": "Enables using the field in filter and boost conditions.",
                    "type": "boolean"
                },
                "retrievable": {
                    "description": "Enables using the field values in search response.",
                    "type": "boolean"
                },
                "searchable": {
                    "description": "Enables text matching on the field.",
                    "type": "boolean"
                },
                "sortable": {
                    "description": "Enables sorting results by the field.",
                    "type": "boolean"
                },
                "fieldLabel": {
                    "description": "A label to use with the field.",
                    "type": "string"
                },
                "fields": {
                    "description": "A child list of fields.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/IndexField"
                    }
                }
            }
        },
        "Response.Index": {
            "allOf": [
                {
                    "$ref": "#/definitions/Index"
                },
                {
                    "type": "object",
                    "properties": {
                        "id": {
                            "description": "The ID that uniquely identifies the index definition that had the CRUD operation applied.",
                            "type": "string"
                        },
                        "provisioningState": {
                            "description": "The current state of provisioning for the index definition.",
                            "enum": [
                                "Unknown",
                                "NotStarted",
                                "Provisioning",
                                "Deprovisioning",
                                "Succeeded",
                                "Failed"
                            ],
                            "type": "string"
                        },
                        "createdDateTime": {
                            "description": "The date and time when the index was created.",
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "IndexFieldType": {
            "enum": [
                "Unknown",
                "String",
                "Boolean",
                "Number",
                "ProductId",
                "DupId",
                "StaticRank",
                "Url",
                "ImageUrl",
                "Title",
                "Description",
                "Category",
                "Price",
                "Rating",
                "Brand",
                "Model",
                "Color",
                "Size",
                "Material",
                "Gender",
                "AgeGroup",
                "Array",
                "Dictionary",
                "ExcludeFlag",
                "Identifier",
                "Object",
                "DocumentId",
                "Author",
                "CreatedAt",
                "ModifiedAt",
                "Paragraph",
                "SubHeading",
                "SectionHeader",
                "Address",
                "RatingCount",
                "ReviewCount",
                "RatingScale",
                "Amenities",
                "StreetAddress",
                "Locality",
                "SubRegion",
                "AddressRegion",
                "PostalCode",
                "PostOfficeBoxNumber",
                "Country",
                "CountryIso",
                "Neighborhood",
                "OtherAreas",
                "PhoneNumber",
                "Barcode",
                "SecondaryImageUrls"
            ],
            "type": "string",
            "x-ms-enum": {
                "name": "IndexFieldType",
                "values": [
                    {
                        "value": "Unknown"
                    },
                    {
                        "value": "String"
                    },
                    {
                        "value": "Boolean"
                    },
                    {
                        "value": "Number"
                    },
                    {
                        "value": "ProductId"
                    },
                    {
                        "value": "DupId"
                    },
                    {
                        "value": "StaticRank"
                    },
                    {
                        "value": "Url"
                    },
                    {
                        "value": "ImageUrl"
                    },
                    {
                        "value": "Title"
                    },
                    {
                        "value": "Description"
                    },
                    {
                        "value": "Category"
                    },
                    {
                        "value": "Price"
                    },
                    {
                        "value": "Rating"
                    },
                    {
                        "value": "Brand"
                    },
                    {
                        "value": "Model"
                    },
                    {
                        "value": "Color"
                    },
                    {
                        "value": "Size"
                    },
                    {
                        "value": "Material"
                    },
                    {
                        "value": "Gender"
                    },
                    {
                        "value": "AgeGroup"
                    },
                    {
                        "value": "Array"
                    },
                    {
                        "value": "Dictionary"
                    },
                    {
                        "value": "ExcludeFlag"
                    },
                    {
                        "value": "Identifier"
                    },
                    {
                        "value": "Object"
                    },
                    {
                        "value": "DocumentId"
                    },
                    {
                        "value": "Author"
                    },
                    {
                        "value": "CreatedAt"
                    },
                    {
                        "value": "ModifiedAt"
                    },
                    {
                        "value": "Paragraph"
                    },
                    {
                        "value": "SubHeading"
                    },
                    {
                        "value": "SectionHeader"
                    },
                    {
                        "value": "Address"
                    },
                    {
                        "value": "RatingCount"
                    },
                    {
                        "value": "ReviewCount"
                    },
                    {
                        "value": "RatingScale"
                    },
                    {
                        "value": "Amenities"
                    },
                    {
                        "value": "StreetAddress"
                    },
                    {
                        "value": "Locality"
                    },
                    {
                        "value": "SubRegion"
                    },
                    {
                        "value": "AddressRegion"
                    },
                    {
                        "value": "PostalCode"
                    },
                    {
                        "value": "PostOfficeBoxNumber"
                    },
                    {
                        "value": "Country"
                    },
                    {
                        "value": "CountryIso"
                    },
                    {
                        "value": "Neighborhood"
                    },
                    {
                        "value": "OtherAreas"
                    },
                    {
                        "value": "PhoneNumber"
                    },
                    {
                        "value": "Barcode"
                    },
                    {
                        "value": "SecondaryImageUrls"
                    }
                ]
            }
        },
        "Region": {
            "enum": [
                "Unknown",
                "EastAsia",
                "EastUS2",
                "NorthCentralUS",
                "NorthEurope",
                "WestUS2",
                "SoutheastAsia",
                "AustraliaEast",
                "AustraliaSoutheast",
                "AustraliaCentral",
                "AustraliaCentral2",
                "BrazilSouth",
                "CanadaCentral",
                "CanadaEast",
                "ChinaNorth",
                "ChinaEast",
                "ChinaNorth2",
                "ChinaEast2",
                "WestEurope",
                "FranceCentral",
                "FranceSouth",
                "GermanyCentral",
                "GermanyNortheast",
                "CentralIndia",
                "WestIndia",
                "SouthIndia",
                "JapanEast",
                "JapanWest",
                "KoreaCentral",
                "KoreaSouth",
                "EastUS",
                "WestUS",
                "CentralUS",
                "SouthCentralUS",
                "WestCentralUS",
                "SouthAfricaNorth",
                "SouthAfricaWest",
                "UKWest",
                "UKSouth",
                "UAENorth",
                "UAECentral"
            ],
            "type": "string",
            "x-ms-enum": {
                "name": "Region",
                "values": [
                    {
                        "value": "Unknown"
                    },
                    {
                        "value": "EastAsia"
                    },
                    {
                        "value": "EastUS2"
                    },
                    {
                        "value": "NorthCentralUS"
                    },
                    {
                        "value": "NorthEurope"
                    },
                    {
                        "value": "WestUS2"
                    },
                    {
                        "value": "SoutheastAsia"
                    },
                    {
                        "value": "AustraliaEast"
                    },
                    {
                        "value": "AustraliaSoutheast"
                    },
                    {
                        "value": "AustraliaCentral"
                    },
                    {
                        "value": "AustraliaCentral2"
                    },
                    {
                        "value": "BrazilSouth"
                    },
                    {
                        "value": "CanadaCentral"
                    },
                    {
                        "value": "CanadaEast"
                    },
                    {
                        "value": "ChinaNorth"
                    },
                    {
                        "value": "ChinaEast"
                    },
                    {
                        "value": "ChinaNorth2"
                    },
                    {
                        "value": "ChinaEast2"
                    },
                    {
                        "value": "WestEurope"
                    },
                    {
                        "value": "FranceCentral"
                    },
                    {
                        "value": "FranceSouth"
                    },
                    {
                        "value": "GermanyCentral"
                    },
                    {
                        "value": "GermanyNortheast"
                    },
                    {
                        "value": "CentralIndia"
                    },
                    {
                        "value": "WestIndia"
                    },
                    {
                        "value": "SouthIndia"
                    },
                    {
                        "value": "JapanEast"
                    },
                    {
                        "value": "JapanWest"
                    },
                    {
                        "value": "KoreaCentral"
                    },
                    {
                        "value": "KoreaSouth"
                    },
                    {
                        "value": "EastUS"
                    },
                    {
                        "value": "WestUS"
                    },
                    {
                        "value": "CentralUS"
                    },
                    {
                        "value": "SouthCentralUS"
                    },
                    {
                        "value": "WestCentralUS"
                    },
                    {
                        "value": "SouthAfricaNorth"
                    },
                    {
                        "value": "SouthAfricaWest"
                    },
                    {
                        "value": "UKWest"
                    },
                    {
                        "value": "UKSouth"
                    },
                    {
                        "value": "UAENorth"
                    },
                    {
                        "value": "UAECentral"
                    }
                ]
            }
        },
        "IndexResponse": {
            "description": "A response containing a list of indexes.",
            "type": "object",
            "properties": {
                "indexes": {
                    "description": "A list of indexes",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response.Index"
                    }
                }
            }
        },
        "DeleteDocumentsResponse": {
            "description": "A response containing the status for a request to delete documents from the index.",
            "type": "object",
            "properties": {
                "status": {
                    "description": "The status for the document deletion request.",
                    "enum": [
                        "Succeeded",
                        "PartiallySucceeded",
                        "Failed"
                    ],
                    "type": "string"
                },
                "errorMessage": {
                    "description": "An aggregation of error messages for errors that happened while processing the request, if any.",
                    "type": "string"
                },
                "result": {
                    "description": "A list of status results per document.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response.DocumentDeletionResult"
                    }
                }
            }
        },
        "Response.DocumentDeletionResult": {
            "description": "A response representing the result of a request to delete a document from your index's catalog",
            "type": "object",
            "properties": {
                "documentId": {
                    "description": "The _itemid for the item item that has been deleted from the index.",
                    "type": "string"
                },
                "deleted": {
                    "description": "A boolean flag that specifies whether or not the document has been successfully deleted.",
                    "type": "boolean"
                },
                "errorMessage": {
                    "description": "An error message for the request, if any.",
                    "type": "string"
                }
            }
        },
        "IndexStatusResponse": {
            "description": "A response that represents the status of an index within its supported regions.",
            "type": "object",
            "properties": {
                "indexStatuses": {
                    "description": "A list of objects containing the status of the index within a region.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response.IndexStatus"
                    }
                }
            }
        },
        "Response.IndexStatus": {
            "description": "A response that represents a query to an index status within a region.",
            "type": "object",
            "properties": {
                "region": {
                    "$ref": "#/definitions/Region"
                },
                "provisioningState": {
                    "description": "The provisioning state for the index within the specified region.",
                    "enum": [
                        "Unknown",
                        "NotStarted",
                        "Provisioning",
                        "Deprovisioning",
                        "Succeeded",
                        "Failed"
                    ],
                    "type": "string"
                },
                "provisioningPercentage": {
                    "format": "double",
                    "description": "The percentage of provisioning for the index withing the region.",
                    "type": "number"
                }
            }
        },
        "PushDataUpdateResponse": {
            "description": "A response to a push data update.",
            "type": "object",
            "properties": {
                "updateId": {
                    "description": "The id of the push data update that you can use to track it down.",
                    "type": "string"
                }
            }
        },
        "PushUpdateStatusResponse": {
            "description": "A response that represents the status of a push data update given an update id.",
            "type": "object",
            "properties": {
                "updateId": {
                    "description": "The id that uniquely identifies the push data update.",
                    "type": "string"
                },
                "status": {
                    "description": "The wholistic update status for the push data update.",
                    "enum": [
                        "InProgress",
                        "Succeeded",
                        "PartiallySucceeded",
                        "Failed"
                    ],
                    "type": "string"
                },
                "totalKeys": {
                    "format": "int32",
                    "description": "The total number of items that are part of the upate.",
                    "type": "integer"
                },
                "successfulKeys": {
                    "format": "int32",
                    "description": "The total number of items that have successfully been updated.",
                    "type": "integer"
                },
                "failureMessages": {
                    "description": "An aggregation of any error messages that happened while ingesting any of the records.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "records": {
                    "description": "A drill down for the push update status for each record.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Response.RecordStatus"
                    }
                }
            }
        },
        "Response.RecordStatus": {
            "description": "A response that represents a status to a push data update for a record.",
            "type": "object",
            "properties": {
                "recordId": {
                    "description": "The _itemid for the record being updated.",
                    "type": "string"
                },
                "status": {
                    "description": "The status for the push data update regarding the specified item id",
                    "enum": [
                        "InProgress",
                        "Succeeded",
                        "PartiallySucceeded",
                        "Failed"
                    ],
                    "type": "string"
                },
                "errorMessage": {
                    "description": "An optional error message in case of an error while ingesting the record.",
                    "type": "string"
                }
            }
        },
        "TransformationConfigResponse": {
            "type": "object",
            "properties": {
                "value": {
                    "description": "The contents of the transformation config that's being managed.",
                    "type": "string"
                },
                "tryOutId": {
                    "description": "An id that you can use to tryout your transformation on the cloud.",
                    "type": "string"
                }
            }
        },
        "TransformationTryoutResponse": {
            "description": "A response representing the status of a transformation config tryout requset.",
            "type": "object",
            "properties": {
                "status": {
                    "description": "The status of the transformation config tryout.",
                    "type": "string"
                },
                "errorMessage": {
                    "description": "Any error messages that happened while transforming, if any.",
                    "type": "string"
                },
                "results": {
                    "description": "A list of records that the transformation config outputed.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "consoleOutput": {
                    "description": "The console output of the transformation config, if any. Can be useful for debugging.",
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "SchemaDetectionResponse": {
            "type": "object",
            "properties": {
                "index": {
                    "$ref": "#/definitions/Response.Index"
                },
                "transformationConfig": {
                    "$ref": "#/definitions/TransformationConfigResponse"
                },
                "warnings": {
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "AppId": {
            "type": "apiKey",
            "name": "appid",
            "in": "query"
        },
        "PortalBearerToken": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "security": [
        {
            "AppId": []
        },
        {
            "PortalBearerToken": []
        }
    ],
    "tags": [
        {
            "name": "RetailSearchIngestionService"
        }
    ]
}